<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <httpErrors errorMode="Custom" defaultResponseMode="File">
        <clear />
        <error statusCode="404" path="mi\404.html"/>
      </httpErrors>
    </system.web>
</configuration>
