<?xml version="1.0"?>
<configuration>
    <system.web>
        <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
      </httpErrors>
    </system.web>
</configuration>
